---
// Props para hacer el componente reutilizable
const {
  id = "",
  label = "Nombre",
  name = "",
  placeholder = "Tu nombre",
  value = "",
  className = "",
} = Astro.props;
---

<label>
  <span class="block mb-2 text-theme-gray">{label}</span>
  <input
    type="text"
    name={name}
    id={id}
    placeholder={placeholder}
    value={value}
    class={`border border-theme-gray rounded-md p-2 w-full ${className}`}
  />
</label>
